.container{
    display: flex;
    align-items: center;
    background-color: #353535;
    width: 160px;
    height: 40px;
    
}

.container:hover{
    background-color: #464646;
}

.container p{
    color: white;
    font-size: 14px;
    margin-left: 5px;
}