.card {
    display: flex;
    align-items: center;
    background-color: #212121;
    color: white;
    padding: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 39.4rem;
    position: fixed; /* Add position fixed */
    z-index: 9999; /* Set a high z-index value to make it appear on top of other elements */
    margin-top: 7.4rem;
    cursor: pointer;
  }

.card:first-child {
    margin-top: 200px;
    border-top-left-radius: 0.3rem; /* Add top-left border-radius */
    border-top-right-radius: 0.3rem; /* Add top-right border-radius */
  }

.card:last-child {
    margin-top: 1.7rem;
    border-bottom-left-radius: 0.3rem; /* Add bottom-left border-radius */
    border-bottom-right-radius: 0.3rem; /* Add bottom-right border-radius */
}

.card:hover{
    background-color: #353535;
}

.card img {
    height: 90%; /* Adjust image height */
    width: 8%;
    object-fit: cover; /* Maintain aspect ratio */
    margin-right: 1rem;
  }