input{
    border-radius: 6px;
    width: 600px;
    height: 15px;
    border: 0px;
    margin-left: 5px;
    padding-right: 5px;
}
::placeholder {
    font-size: 16px;
  }
  

input:focus{
    outline: none;
}

img{
    height: 17px;
    width: 17px;
    margin-top: 9px;
}
form{
    height: 30px;
}

button {
    background-color: white;
    border: 0px;
    padding: 0px 4px 0px 0px;
}
.form-container{
    height: 29px;
}